{% extends './navbar.html' %}
{% load static %}

		{% block content %}

		<div id="body" class="about">
			<div class="header">
				<div>
					<h1>About</h1>
					<h2>HOME FOR Space Enthusiasts</h2>
					<p>OWelcome to Spaceman, the ultimate destination for space enthusiasts! Our blog is dedicated to providing the latest and most accurate information about various space organizations and their activities.

						At Spaceman, we understand the immense value and potential of space exploration and the positive impact it can have on our world. Through our blog, we aim to share our passion for space and inspire others to join us in exploring the final frontier.

						Our team of experts is dedicated to providing high-quality content that covers a wide range of topics, including space technology, astronomy, space missions, and more. We work hard to ensure that our readers are always up-to-date on the latest news and developments in the space industry.

						Whether you're a seasoned space enthusiast or just starting to explore the wonders of the cosmos, Spaceman is the perfect place for you. Join us as we embark on a journey of discovery and exploration, and let's make history together!</p>
				</div>
			</div>
			<div class="body">
				<div>
					<img src="images/earth-satellite.jpg" alt="">
					<h2>We Have More for You</h2>
					<p>The Space Exploration Hub is a website dedicated to
						providing up-to-date information, news, and insights
						about space exploration. The website will be a
						centralized platform that caters to space enthusiasts,
						researchers, and students who are interested in
						learning more about space exploration.</p>
				</div>
			</div>
			<div class="footer">
				<div>
					<img src="images/space-shuttle.png" alt="">
					<h2>Be Part of Our Community</h2>
					<p>If you’re experiencing issues and concerns about this website template, join the discussion <a href="https://discord.gg/sqZnQhVC">on our forum</a> and meet other people in the community who share the same interests with you.</p>
				</div>
			</div>
			<div class="section">
				<div>
					<h2>Shop Our Products</h2>
					<p>If you're looking for educational toys for your little ones, we have an excellent selection of STEM-based toys, including telescopes, solar system models, and space-themed puzzles. We also have a selection of space-themed clothing for both adults and children, including T-shirts, hoodies, and leggings.

						Our online store is easy to navigate, and our products are affordable, so you don't have to break the bank to show your love for space. We also offer fast shipping, so you can enjoy your space-themed items as soon as possible.</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="connect">
				<div>
					<h1>FOLLOW OUR  MISSIONS ON</h1>
					<div>
						<a href="http://freewebsitetemplates.com/go/facebook/" class="facebook">facebook</a>
						<a href="http://freewebsitetemplates.com/go/twitter/" class="twitter">twitter</a>
						<a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus">googleplus</a>
						<a href="http://freewebsitetemplates.com/go/pinterest/" class="pinterest">pinterest</a>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; 2023 BY SPACE PROSPECTION | ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

{% endblock %}
