{% extends './navbar.html' %}
{% load static %}

		{% block content %}

		<div id="body">
			<div class="header">
				<div>
					<h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
					<div class="article">
						<img src="{{ object.image }}" alt="">
						<span>{{ post.author }} | {{ post.created_on }}</span>
						<p>{{ object.content | safe }}</p>

						<!-- <img src="{% static 'images/martianrover-journey.jpg' %}" alt="">
						<h1>MARTIAN ROVER JOURNEY</h1>
						<span>FEBRUARY 6, 2023</span>
						<p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the Terms of Use. You can even remove all our links if you want to.</p>
						<p>Looking for more templates? Just browse through all our Free Website Templates and find what you’re looking for. But if you don’t find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you’re looking for something different, something special. And we love the challenge of doing something different and something special.</p> -->
					</div>
					<div class="sidebar">
						<ul>
							<li>
								<h1>FEATURED POSTS</h1>
								{% for post in post_list %}
								<a href="{% url 'post_detail' post.slug %}"><img src="{{ post.image }}" alt=""></a>
								<h2>{{ post.title }}</h2>
								<span>FEBRUARY 6, 2023</span>
								{% endfor %}
							</li>
							<li>
								<h1>RECENT POSTS</h1>
								<ul>
									<li>
										{% for post in post_list %}
										<a href="{% url 'post_detail' post.slug %}"><img src="{{ post.image }}" alt=""></a>
										<h2>{{ post.title }}</h2>
										<span>FEBRUARY 3, 2023</span>
										{% endfor %}
									</li>
									<li>
										{% for post in post_list %}
										<a href="{% url 'post_detail' post.slug %}"><img src="{{ post.image }}" alt=""></a>
										<h2>{{ post.title }}</h2>
										<span>FEBRUARY 1, 2023</span>
										{% endfor %}
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="connect">
				<div>
					<h1>FOLLOW OUR  MISSIONS ON</h1>
					<div>
						<a href="http://freewebsitetemplates.com/go/facebook/" class="facebook">facebook</a>
						<a href="http://freewebsitetemplates.com/go/twitter/" class="twitter">twitter</a>
						<a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus">googleplus</a>
						<a href="http://pinterest.com/fwtemplates/" class="pinterest">pinterest</a>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; 2023 BY SPACE PROSPECTION | ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

		{% endblock %}
